.home-header {
  height: 660px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;

  .dark-blue {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      var(--color-dark-blue) 15%,
      #00000000 85%
    );
    z-index: 2;
    backdrop-filter: blur(3px);
  }

  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .bg-img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .search-section {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    color: var(--color-white);
    width: max(60%, 400px);
    text-align: center;
    margin-bottom: 70px;
  }

  .search-container {
    height: 60px;
    width: max(45%, 360px);
    display: flex;
    align-items: center;
    background: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
  }

  input {
    width: 85%;
    border: none;
    outline: none;
    font-size: var(--font-xLarge);
    padding: 5px 1rem;
  }

  .search-button {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 70px;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transition: background 0.3s ease-in-out;
      background: rgba(0, 0, 0, 0);
    }

    &:hover::after {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 441px) {
  .home-header {
    height: 360px;
  }
}
